<%- include('../partials/header.ejs') %>
  
    <main class="events-main">
        <div class="container">
            <section class="event-section">
                <h2>Regular Meetings & Workshops</h2>
                <ul>
                    <% if (meetingsAndWorkshops.length) { %>
                        <% meetingsAndWorkshops.forEach(event => { %>
                            <li>
                                <a href="/events/<%= event.id %>">
                                    <%= event.title %> | <%= DateTime.fromISO(event.start).toLocaleString(DateTime.DATE_FULL) %>
                                </a>
                            </li>
                        <% }); %>
                    <% } else { %>
                        <p>There are no events currently scheduled.</p>
                    <% } %>
                </ul>
            </section>

            <section class="event-section">
                <h2>Tech Talk & AMA Speaker Series</h2>
                <ul>
                    <% if (techTalksAndPanels.length) { %>
                        <% techTalksAndPanels.forEach(event => { %>
                               <li>
                                   <a href="/events/<%= event.id %>">
                                       <%= event.title %> | <%= DateTime.fromISO(event.start).toLocaleString(DateTime.DATE_FULL) %>
                                   </a>
                               </li>
                        <% }); %>
                    <% } else { %>
                           <p>There are no events currently scheduled.</p>
                    <% } %>
                </ul>
            </section>

            <!-- Section for Programming Competitions & Hackathons -->
            <!-- Leaving this section hardcoded because it provides information outside of ACM's control -->
            <section class="event-section">
                <h2>Programming Competitions & Hackathons</h2>
                <ul>
                    <li><a href="https://lucid.co/programming-competition">Lucid Programming Competition | October 26, 2024</a></li>
                    <li><a href="https://hacknc.com/">HackNC - UNC Chapel Hill | November 2-3, 2024</a></li>
                    <li><a href="https://sites.radford.edu/~acm/midatl/">ICPC 2024 Mid-Atlantic Regional - NC State University | November 16, 2024</a></li>
                    <li><a href="https://hoyahacks.georgetown.domains/">Hoya Hacks - Georgetown University | January 24-26, 2024</a></li>
                    <li><a href="https://hacklytics.io/">Hacklytics - GeorgiaTech | February 7-9, 2025</a></li>
                    <li><a href="https://hackncstate2024.devpost.com/">Hack_NCState - NC State University | TBA</a></li>
                </ul>
            </section>
            
        </div>
    </main>

<%- include('../partials/footer.ejs') %>