<%- include('../partials/header.ejs') %>

    <main class="event-details-main">
        <div class="container">
            <section class="event-details-section">
                <div class="event-image-container">
                    <% if (event.image) { %>
                        <!-- Display Base64-encoded image from MongoDB -->
                        <img src="data:image/jpeg;base64,<%= event.image %>" alt="<%= event.title %>" class="event-image">
                    <% } else { %>
                        <!-- Display default image from /public/img directory if no image is associated -->
                        <img src="/img/coder_group_with_desktops.jpg" alt="<%= event.title %>" class="event-image">
                    <% } %>
                </div>
                <h2><%= event.title %></h2>
                <div class="event-details">
                    <p><strong>Hosted by:</strong> <%= event.hostname ? `${event.hostname.firstName} ${event.hostname.lastName}` : 'Unknown Host' %></p>
                    <p><strong>Location:</strong> <%= event.location %></p>
                    <p><strong>Topic:</strong> <%= event.topic || 'N/A' %></p>
                    <p><strong>Speaker(s):</strong> <%= event.speaker || 'N/A' %></p>
                    <p><strong>Start:</strong> 
                        <%= event.start.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %>
                        at 
                        <%= event.start.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' }) %>
                    </p>
                    <p><strong>End:</strong> 
                        <%= event.end.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %>
                        at 
                        <%= event.end.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' }) %>
                    </p>
                    <p><strong>Details:</strong> <%= event.details %></p>                    
                </div>
            </section>
        </div>
        <div class="event-actions">
            <!-- Add event to calendar (functionality not yet implemented) -->
            <form>
                <button type="submit" aria-label="Add to calendar">
                    <i class="fa-solid fa-calendar-check"></i>
                </button>
            </form>

            <!-- Edit event -->
            <form action="/events/<%= event.id %>/edit" method="GET">
                <button type="submit" aria-label="Edit Event">
                    <i class="fa-regular fa-pen-to-square"></i>
                </button>
            </form>

            <!-- Delete event -->
            <form action="/events/<%= event.id %>?_method=DELETE" method="POST">
                <button type="submit" aria-label="Delete Event">
                    <i class="fa-solid fa-trash-can"></i>
                </button>
            </form>
        </div>
    </main>

<%- include('../partials/footer.ejs') %>